--extra-index-url https://download.pytorch.org/whl/cu124
flask
flask-cors
opencv-python
numpy
Pillow
openai
python-dotenv
pyttsx3
flask-socketio
eventlet

ultralytics
torch==2.6.0+cu124
torchvision==0.21.0+cu124
torchaudio==2.6.0+cu124
